<!DOCTYPE html>
<html>
  <head>
    <title>Raffles Publications</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href='{{ url_for('static', filename='favicon.ico') }}' />
  </head>
  <body>
    <br>
    <div class='container'>
      <div class='row'>
        <div class='col-2'>
        </div>
        <div class='col-6 header'>
          <h2>RAFFLES PUBLICATIONS</h2>
          <div class='navbar'>
            <a href='/' class='orange'>Home</a>
            <a href='/about' class='orange'>About Us</a>
            <a href='/works' class='orange'>Works</a>
          </div>
        </div>
        <div class='col-2 header right'>
          <h6>THE EAGLE EYE</h6>
          <a href='https://www.facebook.com/Raffles-Publications-1437480963198257/'><img src=' {{ url_for('static', filename='facebook.png') }}' width=15%></a>
          <a href='https://www.ri.edu.sg/'><img src=' {{url_for('static', filename='instagram.png') }}' width=15%></a>
        </div>
        <div class='col-2'>
        </div>
      </div>
    </div>
    <div>
      <img src=' {{ url_for('static', filename='banner.jpeg') }}' width=100%>
    </div>
    <br>
    <div class='container'>
      <div class='row'>
        <div class='col-2'>
        </div>
        <div class='col-2 sidebar'>
          <h4>Hi!</h4>
          <p>Welcome to the Raffles Publications website! This is where we post our articles as well as make announcements. Hope you enjoy your stay!</p>
          <div class='container'>
            <div class='row'>
              <div class='col-3 sidebar'>
                <a href='https://www.facebook.com/Raffles-Publications-1437480963198257/'><img src=' {{ url_for('static', filename='facebook.png') }}' width=200%></a>
              </div>
              <div class='col-3 sidebar'>
                <a href='http://www.ri.edu.sg/'><img src=' {{ url_for('static', filename='pinterest.png') }}' width=200%></a>
              </div>
              <div class='col-3 sidebar'>
                <a href='http://www.ri.edu.sg/'><img src=' {{ url_for('static', filename='youtube.png') }}' width=200%></a>
              </div>
              <div class='col-3 sidebar'>
                <a href='http://www.ri.edu.sg/'><img src=' {{url_for('static', filename='instagram.png') }}' width=200%></a>
              </div>
            </div>
          </div>
          <br>
          <a href='/' class='orange round'>Read by Categories</a>
          <br>
          <h4>Feel free to drop some suggestions. We always welcome feedback.</h4>
          <form action='{{ url_for('mail') }}' method='POST'>
            <input type='text' name='name' placeholder='Name' class='orange form'>
            <input type='email' name='email' placeholder='Email' class='orange form'>
            <input type='text' name='message' placeholder='Your message' class='orange form'>
            <input type='submit' name='Submit' class='orange round'>
          </form>
        </div>
        <div class='col-6'>
            <p class='body'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin tortor at justo viverra finibus. Pellentesque pharetra orci in urna volutpat eleifend. Cras consequat ullamcorper tristique. Ut fringilla vel diam eget tincidunt. Vestibulum ipsum lectus, porta nec leo a, vulputate tempus enim. Sed cursus elementum sapien sit amet viverra. Quisque vulputate arcu nec sapien luctus consectetur. Nullam tempus interdum nisl, ut egestas magna ullamcorper a. Proin orci ligula, pellentesque id sapien nec, laoreet pulvinar elit. Vestibulum non molestie risus. Suspendisse efficitur dolor a nisi congue iaculis. Integer malesuada, diam gravida varius ultrices, leo lorem scelerisque sapien, vel pellentesque odio velit quis elit. Aenean nec nulla diam.</p>
            <br>
            <p class='body'>Nulla pellentesque dignissim enim sit. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Aliquet nec ullamcorper sit amet risus nullam eget. Mattis rhoncus urna neque viverra justo nec. Tristique risus nec feugiat in fermentum posuere urna nec. Tortor condimentum lacinia quis vel eros donec ac odio. Faucibus vitae aliquet nec ullamcorper sit amet risus. Quis enim lobortis scelerisque fermentum dui. Vel pharetra vel turpis nunc eget lorem. Mi in nulla posuere sollicitudin aliquam. Volutpat lacus laoreet non curabitur gravida arcu ac. Arcu bibendum at varius vel pharetra vel turpis nunc eget. Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus. Pellentesque pulvinar pellentesque habitant morbi tristique senectus et. Vitae ultricies leo integer malesuada nunc vel risus commodo. Mauris vitae ultricies leo integer malesuada nunc vel. Dis parturient montes nascetur ridiculus mus.</p>
            <br>
            <p class='body'>Integer auctor felis a pellentesque eleifend. Vestibulum ultricies metus diam, ut fringilla risus elementum nec. Curabitur interdum, tellus quis fermentum facilisis, nisi elit euismod nulla, nec semper arcu sem quis ante. Aenean varius nisi non risus mollis accumsan. Maecenas eu elit rutrum, iaculis arcu id, lobortis massa. Duis euismod id quam convallis viverra. Nunc non mauris vel diam cursus convallis nec vitae justo. Nunc a urna porttitor, eleifend elit quis, sagittis dolor. Nulla eget magna vel massa pretium pellentesque ut ac ligula.</p>
        </div>
        <div class='col-2'>
        </div>
      </div>
    </div>
    <br>
    <div class='footer centre'>
      <br>
      <p>Made by Chen Nuode and Natanael Tan from Raffles Institution Infocomm Club 2019</p>
      <p class='centre'><a href='/admin'>Admin login</a></p>
      <br>
    </div>
  </body>
</html>
