<!DOCTYPE html>

<!-- OBSOLETE FILE DO FRONTEND WORK ON content.html -->
<html>
  <head>
    <title>Raffles Publications</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  </head>
  <body>
    <br>
    <div class='container'>
      <div class='row'>
        <div class='col-9 header'>
          <h2><a style="color: inherit;text-decoration: none;" href="/">RAFFLES PUBLICATIONS</a></h2>
          <div class='navbar'>
            <a href='/' class='orange'>Home</a>
            <a href='/About' class='orange'>About</a>
            <a href='/works' class='orange'>Works</a>
            <a href='/all' class='orange'>All Pages</a>
          </div>
        </div>
        <div class='col-3 header right'>
          <h6>THE EAGLE EYE</h6>
          <a class="rpubs_icon fa fa-facebook" href="https://www.facebook.com/Raffles-Publications-1437480963198257/"></a>
          <a class="rpubs_icon fa fa-instagram" href="#"></a>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 30px;">
      <img src="{{ url_for('static', filename='banner.jpeg') }}" width=100%>
    </div>
    <div class='container'>
      <div class='row'>
        <div class='col-1'></div>
        {{ content }}
        <div class='col-1'></div>
      </div>
    </div>
    <br>
    <div class='footer centre'>
      <br>
      <p>Made by <a href='https://github.com/ChenNuode'>Chen Nuode</a> and <a href='https://github.com/nonnoxer'>Natanael Tan</a> from Raffles Institution Infocomm Club 2019</p>
      <p class='centre'><a href='/admin'>Admin login</a></p>
      <br>
    </div>
  </body>
</html>
