<!DOCTYPE html>
<html>
  <head>
    <title>Raffles Publications</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href='{{ url_for('static', filename='favicon.ico') }}' />
  </head>
  <body>
    <br>
    <div class='container'>
      <div class='row'>
        <div class='col-2'>
        </div>
        <div class='col-6 header'>
          <h2>RAFFLES PUBLICATIONS</h2>
          <div class='navbar'>
            <a href='/' class='orange'>Home</a>
            <a href='/About' class='orange'>About</a>
            <a href='/works' class='orange'>Works</a>
            <a href='/all' class='orange'>All Pages</a>
          </div>
        </div>
        <div class='col-2 header right'>
          <h6>THE EAGLE EYE</h6>
          <a href='https://www.facebook.com/Raffles-Publications-1437480963198257/'><img src=' {{ url_for('static', filename='facebook.png') }}' width=15%></a>
          <a href='https://www.ri.edu.sg/'><img src=' {{url_for('static', filename='instagram.png') }}' width=15%></a>
        </div>
        <div class='col-2'>
        </div>
      </div>
    </div>
    <div>
      <img src=' {{ url_for('static', filename='banner.jpeg') }}' width=100%>
    </div>
    <br>
    <div class='container'>
      <div class='row'>
        <div class='col-2'>
        </div>
        <div class='col-2 sidebar'>
          <h4>Hi!</h4>
          <p>Welcome to the Raffles Publications website! This is where we post our articles as well as make announcements. Hope you enjoy your stay!</p>
          <div class='container'>
            <div class='row'>
              <div class='col-3 sidebar'>
                <a href='https://www.facebook.com/Raffles-Publications-1437480963198257/'><img src=' {{ url_for('static', filename='facebook.png') }}' width=200%></a>
              </div>
              <div class='col-3 sidebar'>
                <a href='http://www.ri.edu.sg/'><img src=' {{ url_for('static', filename='pinterest.png') }}' width=200%></a>
              </div>
              <div class='col-3 sidebar'>
                <a href='http://www.ri.edu.sg/'><img src=' {{ url_for('static', filename='youtube.png') }}' width=200%></a>
              </div>
              <div class='col-3 sidebar'>
                <a href='http://www.ri.edu.sg/'><img src=' {{url_for('static', filename='instagram.png') }}' width=200%></a>
              </div>
            </div>
          </div>
          <br>
          <a href='/categories' class='orange round'>Read by Categories</a>
          <br>
          <h4>Feel free to drop some suggestions. We always welcome feedback.</h4>
          <form action='/feedback' method='POST' id='feedback'>
            <input type='text' name='name' placeholder='Name' class='orange form'>
            <input type='email' name='email' placeholder='Email' class='orange form'>
            <textarea form='feedback' name='feedback' placeholder='Your message' class='orange form' rows='4'></textarea>
            <input type='submit' name='Submit' class='orange round'>
          </form>
        </div>
        <div class='col-6'>
          <div class='body'>
            <h1>Recent Posts</h1>
            {{ content }}
            <a href='/works'>More...</a>
          </div>
        </div>
        <div class='col-2'>
        </div>
      </div>
    </div>
    <br>
    <div class='footer centre'>
      <br>
      <p>Made by Chen Nuode and Natanael Tan from Raffles Institution Infocomm Club 2019</p>
      <p class='centre'><a href='/admin'>Admin login</a></p>
      <br>
    </div>
  </body>
</html>
