<!DOCTYPE html>
<head>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
  <link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
  <script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
</head>
<body>
  <h1>{{ title }}</h1>
  <p>Edit</p>
  <form action='/editedpage' method='POST' id='editor'>
    <input type='text' name='title' readonly value='{{ title }}'>
    <br>
    <input type='text' name='categories' value='{{ categories }}' placeholder='Categories'>
    <br>
    <div id='editor-container'>
    </div>
    <textarea form='editor' name='text' rows='16' cols='64'>{{ content }}</textarea>
    <br>
    <input type='submit' value='Edit'>
  </form>
  <p>Delete</p>
  <form action='/deletedpage' method='POST'>
    <input type='text' name='title' readonly value='{{ title }}'>
    <br>
    <input type='submit' value='Delete'>
  </form>
  <script src='{{ url_for('static', filename='quillscript.js') }}'></script>
</body>
