<!DOCTYPE html>
<head>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
  
  <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
  <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

  <!-- Theme included stylesheets -->
  <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">

</head>
<body onload='lne(); ean()' oninput='ean()'>
  <h1>{{ title }}</h1>
  <p>Edit</p>
  <form id='editor' action='/editpost/{{title}}' method='POST' enctype="multipart/form-data">
    <input type='text' name='title' readonly value='{{ title }}' id='title'>
    <br>
    <p><input type='text' name='categories' value='{{ categories }}' placeholder='Categories' id='cate'> (Separated with commas)</p>
    <p>File icon: <input type='file' name='icon' accept='image/*'> (Ideal size 128x128)</p>
    <img src="/static/files/{{ icon }}" class='icon'>
    <div id='editor-container'>
    </div>
    <textarea form='editor' name='text' readonly id='text' hidden>{{ content }}</textarea>
    <textarea form='editor' name='summary' rows='4' cols='16' placeholder='Summary'>{{ summary }}</textarea>
    <br>
    <button onclick='dewit()'>Edit</button>
  </form>
  <button onclick='ean()'>Preview</button>
  <p>Delete</p>
  <form action='/deletedpost' method='POST'>
    <input type="text" value="{{title}}" name="title" style="display: none;">
    <input type='submit' value='Delete'>
  </form>
  <h3>Preview</h3>
  <div style='background-color: #014e44;'>
    <br>
    <div class='row'>
      <div class='col-2'>
        <br>
      </div>
      <div class='col-8' style='background-color: white;'>
        <div id='preview' style='width: 100%;'>
        </div>
      </div>
      <div class='col-2'>
        <br>
      </div>
    </div>
    <br>
  </div>
  <script src="{{ url_for('static', filename='quillscript.js') }}"></script>
</body>
