<!DOCTYPE html>
<head>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
  <p>Edit username</p>
  <form action='/editedusername' method='POST' id='editor'>
    <input type='text' name='username' readonly value='{{ username }}'>
    <br>
    <input type='text' name='newname' placeholder='New username'>
    <br>
    <input type='submit' value='Update'>
  </form>
  <p>Edit password</p>
  <form action='/editedpassword' method='POST'>
    <input type='text' name='username' readonly value='{{ username }}'>
    <br>
    <input type='password' name='newpass' placeholder='New password'>
    <br>
    <input type='submit' value='UPDATE'>
  </form>
  <p>Delete user</p>
  <form action='deleteduser' method='POST'>
    <input type='text' name='username' readonly value='{{ username }}'>
    <br>
    <input type='submit' value='Delete'>
  </form>
</body>
